//Mixins==========
@mixin font {
  font-family: $font;
  color: #01010a;
}

@mixin grid($collsNum, $margin) {
  float: left;
  margin-right: $margin;
  margin-bottom: $margin;
  height: 100px;
  width: ((100% - (($collsNum - 1) * $margin)) / $collsNum);

  &:nth-last-child(#{$collsNum}n) {
    margin-right: 0;
  }
}
